<section id="rsvp">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<h1>Cadastro de usuário</h1>
				<div class="rsvp_wrap">
				    <%= flash_message.html_safe %>
				    <%= form_for @user, url: usuario_create_path, class:"contact-form" do |f| %>
				      <% if @user.errors.any? %>
                <div id="error_explanation">
                  <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
				      <%= f.text_field :nome, :required => true, placeholder: 'Nome' %>
  					  <%= f.email_field :email, :required => true, placeholder: 'Email' %>
  					  <%= f.password_field :password, :required => true, placeholder: 'Senha' %>
  					  <%= f.password_field :password_confirmation, :required => true, placeholder: 'Confirmação de senha' %>
  					  <%= f.submit 'Criar conta' %>
					  <% end %>
				</div>
			</div>
		</div>
	</div>
</section> 
