<section id="rsvp">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<h1>Login</h1>
				<div class="rsvp_wrap">
				    <%= flash_message.html_safe %>
				    <%= form_for :login, url: login_auth_path, class:"contact-form" do |f| %>
  					  <%= f.email_field :email, :required => true , placeholder: 'Email' %>
  					  <%= f.password_field :password, :required => true, placeholder: 'Senha' %>
  					  <%= f.submit 'Login' %>
					  <% end %>
					<p>Esqueceu a senha?</p>
				</div>
			</div>
		</div>
	</div>
</section> 